{% extends "base.html" %}

{% block head %}

<h2 class = "first">Quick Park</h2>


{% endblock %}

{% block body %}
<a href="{{ url_for('login') }}"><button class="button">LOGIN</button></a>
<a href="{{ url_for('signup') }}"> <button class = "button"> Sign Up </button></a>
<a href=" {{ url_for('Aboutus')}}"><button class = "button">About Us</button></a>
<a href=" {{ url_for('Carrer')}}"><button class = "button">Careers</button></a>
<a href="{{ url_for('Contact')}}"><button class = "button">Contact</button></a>



<p class="para"> Park your vehicle with ease</p>
{% endblock %}