{% extends "base.html" %}
{% block head %}
<h1 class = "login-head"> Quick Park</h1>
{% endblock %}

{% block body %}
<div class = login-form>
    <form action="{{ url_for('signup') }}" method = "POST"></form>
    <H2 class = "login"> Sign Up</H2>
    <div class = "login-form">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
    </div>
    <div class  = "login-form">
        <label for="password">Password :</label>
        <input type="password" id = "password" name = "password" required>

    </div>
    <button type ="submit" class = "all-button"> Submit </button>
</div>
    </form>
{% endblock%}